/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  min-width:  20rem;/*20 rem*/
  line-height: 1;
}
a{
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img{
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
  font-weight: inherit;
  font-size: inherit;
}
button{
  cursor: pointer;
  color: inherit;;
  background-color: transparent;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;

}
body {
  margin: 0;
  font-family: Merienda;
  font-weight: 400;
  font-size: 0.875rem;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Обгортка*/
.wrapper{
  min-height: 100%; /* на весь екран */
  overflow: clip; /* уникання горізонтального скролу */
  display: flex; /* для прибивания Footer*/
  flex-direction: column; /* для прибивания Footer*/

}

.page{
  flex: 1 1 auto;
}
/*Налаштування адаптиву*/
[class*="__container"]{
  max-width: 51.875rem; /*Обмежувачий контейнер + відступи*/
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}
/* Модули */
.title {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.title--article {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
/* Dividers*/
.devider{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

}
.devider__img{
  display: flex;
  justify-content: center;
  width: 2.1875rem;
  height: 2.1875rem;
  position: relative;

}
.devider__img::before{
  content: '';
  height: 1px;
  width: 60px;
  background: #000;
  position: absolute;
  bottom: 50%;
  right: 62.5px;
}

.devider__img::after{
  content: '';
  height: 1px;
  width: 60px;
  background: #000;
  position: absolute;
  bottom: 50%;
  left: 62.5px;
}

.devider__img_white::before, .devider__img_white::after{
  background: #FFF;
}
